div {
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    min-height: 40px;
    }
    
    body{
        margin: 0;
        padding: 0;
        max-width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        
    }

    .wrapper {
        width: 1100px;
        margin: auto;
        position: relative;
    }

    .logo a {
        font-size: 50px;
        font-weight: 800;
        float: left;
        font-family: courier;
        color: #364f6b;
    }
    
    .menu {
        float: right;
    }
    
    nav {
        width: 100%;
        margin: auto;
        display: flex;
        line-height: 80px;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background: #FFFFFF;
        z-index: 1;
        border-bottom: 1px solid #364f6b;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-align: center;
        padding: 0px 16px 0px 16px;
        text-decoration: none;
    }
    
    nav ul li a:hover {
        text-decoration: underline;
    }

    
    a.tbl-biru {
        background: #ee0b0b;
        border-radius: 20px;
        margin: 20px;
        padding: 15px 20px 15px 20px;
        color: #030303;
        cursor: pointer;
        font-weight: bold;
    }
    
    a.tbl-biru:hover {
        background: #e6ff04;
        text-decoration: none;
    }
    
    .header {
        height: auto;
        border-color: rgb(0, 0, 0);
        border-style: solid;
        text-align: center;
    }
    
    .nav {
        height: auto;
        border-color: rgb(0, 0, 0);
        border-style: solid;
    }
    
    .main{
        max-width: 100%;
        height: 350px;
    }
    .article {
        float: left;
        width: 55%;
        height: auto;
        border-color: rgb(0, 0, 0);
        border-style: solid;
    }
    
    .Header {
        height: auto;
        width: 90%;
        height: auto;
        border-color: rgb(0, 0, 0);
        border-style: solid;
    }
    
    .section {
        height: 90px;
        width: 90%;
        height: auto;
        border-color: rgb(0, 0, 0);
        border-style: solid;
    }
    
    .footer {
        height: 90px;
        width: 90%;
        border-color: rgb(0, 0, 0);
        border-style: solid;
    }

    nav {
        width: 80%;
        background: #000000;
        border-radius: 50px;
    }
    
    .div {
        float: right;
        width: 34%;
        height: 500px;
        border-color: rgb(0, 0, 0);
        border-style: solid;
    }
    
    .aside {
        float: none;
        width: 80%;
        height: 40%;
        border-color: rgb(0, 0, 0);
        border-style: solid;
        font-size: 90%;
    }
    
    .kontak {
        height: auto;
        text-align: start;
        border-radius: 10px;
        border-color: rgb(0, 0, 0);
        border-style: solid;
    
    }
    
